@model DAO.Product
           {
    ViewBag.Title = "Index";
}

<h3>Productos</h3>
<h2>Nuevo</h2>

<form action="/NewProduct" method="post">
    <div>
        <div>
            @Html.LabelFor(l => l.Producto)
            @Html.TextBoxFor(p => p.Producto)
        </div>
        <div>
            @Html.LabelFor(l => l.Precio)
          @*  @Html.TextBoxFor(p => p.Precio, new { @class = "Valor Numérico", id = "Precio", Value = String.Format("{0:C}", Model.Precio) })*@
        </div>
        <div>
            @*@Html.DropDownListFor(c => c.Category, new SelectList(Model.Category, "Id", "Categoria"))*@
        </div>
    </div>

</form>